@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap");

h1 {
  font-family: Gemunu Libre;
  font-size: 40px;
}

ul {
  list-style-type: none;
  font-size: 18px;
}

body {
  font-family: Gemunu Libre;
}

p{
  font-size: 20px;
}

a{
  color: Black;
  text-decoration:none;
}
